// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #273239
// $secondary = #EEB100
$secondary = darken(#FFC14C, 10)
$tertiary  = #1B2327

$text = #E9FFFF
$white = #F9F9F9
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

//Mixins
animate(who, time, ease-type)
	-webkit-transition: who time ease-type
	-moz-transition: who time ease-type
	-ms-transition: who time ease-type
	transition: who time ease-type

animations(who, time, ease-type, recursiveAnimation)
	-webkit-transition: who time ease-type, recursiveAnimation
	-moz-transition: who time ease-type, recursiveAnimation
	-ms-transition: who time ease-type, recursiveAnimation
	transition: who time ease-type, recursiveAnimation
keyframes(name)
	@-webkit-keyframes #{name}
		@content
	@-moz-keyframes #{name}
		@content
	@-ms-keyframes #{name}
		@content
	@keyframes #{name}
		@content

.flex
		display flex

.q-drawer-container
		&.flex
				display: block
				>.q-layout-drawer
						display: flex
				&.column
						>.q-layout-drawer
								flex-direction: column
.q-mt-auto
		margin-top auto
.q-ml-auto
		margin-left auto
.q-mr-auto
		margin-right auto
.q-mb-auto
		margin-bottom auto
.q-mt-no
		margin-top 0px
.q-ml-no
		margin-left 0px
.q-mr-no
		margin-right 0px
.q-mb-no
		margin-bottom 0px
.q-pt-no
		padding-top 0px
.q-pl-no
		padding-left 0px
.q-pr-no
		padding-right 0px
.q-pb-no
		padding-bottom 0px
		
.no-border,
.bd-no,
.no-bd
		border: none
.br-none,
.br-no
		border-radius 0px !important
.icon-avatar
		& img
				width: 24px
				height auto
.bg-none
		background rgba(0,0,0,0) !important
img
		&.q-img-xs
				width 24px
				height auto
		&.q-img-sm
				width 30px
				height auto
		&.q-img-md
				width 36px
				height auto
		&.q-img-lg
				width 42px
				height auto
		&.q-img-xl
				width 48px
				height auto
				